body{
    background: rgb(76, 124, 228);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
   
}

#contagem {
    max-width: 100%; /* Garante que o conteúdo se ajuste à largura máxima da caixa */
    white-space: normal; /* Permite que o conteúdo quebre a linha automaticamente */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}